html {
    background-color: beige;
}

footer {
    background-color: burlywood;
    padding: 24px; 
}

header {
    padding: 24px;
}

body {
    margin: 0;
}

main {
    max-width: 800px;
}

.book-cover {
    width: 200px;
    height: auto;
}

.main-page-book-review {
    background-color: white;
}

